<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="deleteModalCenter" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <form id="deleteForm" method="POST" action="<%= '/'+action %>">
          <div class="modal-header">
            <h5 class="modal-title" id="modalTitle">Delete</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <h5>Delete <span id="del-name"></span>?</h5>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="deleteForm(this,true)">Confirm</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>