<header>
  <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
    <div class="breadcrumb-dn mr-auto">
      <p class="mb-0"><img src="img/Sirius_logo.jpeg" height="45"></p>
    </div>
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-effect <%= action === 'tasks'?'grey lighten-3':''%>" href="/">
          <i class="fas fa-tasks"></i>
          <span class="clearfix d-none d-sm-inline-block">Tasks</span>
        </a>
      </li>
    </ul>
  </nav>
</header>